<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/header.html') %>
    <title>Notes app</title>
</head>
<body>
    <div class="container-fluid">
        <header class="row bg-dark">
            <div class="col">
                <%- include('partials/navigation.html') %>
            </div>
        </header>
    </div>
    <div class="container">
        <!-- Contain -->
        <p></p>
    </div>
    <div class="container-fluid">
        <%- include('partials/footer.html') %>
    </div>
</body> 
</html>